@import 'core/reset';

// MOBILE 320 PX

.header {
  width: 100vw;
  height: 12rem;
  background-image: url('https://fotografias-neox.atresmedia.com/clipping/cmsimages02/2022/08/30/313B4590-F024-4665-8400-B6EB31FDEE85/hogwarts_98.jpg?crop=1000,563,x0,y4&width=1900&height=1069&optimize=high&format=webply');
  background-size: cover;
  border-bottom: 1px inset rgba(226, 224, 215, 0.471);
  .logo {
    width: 32rem;
    height: 13rem;
  }
}

.main {
  padding-top: 1rem;
  background-image: url('https://www.mccormick.northwestern.edu/images/news/2023/07/what-does-a-twinkling-star-sound-like-take-a-listen-social.jpg');
  background-size: contain;
  background-position: center;
  height: 100%;
  .form {
    border: 1px solid white;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5rem;
    background: radial-gradient(circle at center, #6090cb, #050524);
    width: 25rem;
    height: 10rem;
    margin-left: 4rem;
    border-radius: 10px;
    .fieldset1 {
      display: grid;
      border: none;
      gap: 0.5rem;

      .legend1 {
       color: white;
       font-size: 1.2rem;
      }
      .input {
        margin: auto;
      }
    }
    .fieldset2{
      display: flex;
      flex-direction: row;
      border: none;
      .legend2 {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
  .characterSection {
    height: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem; 
    justify-items: center;
    padding: 0rem 0.25rem 17rem 0.25rem;
    .characterCard {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 15.5rem;
      height: 16rem;
      border-radius: 5px;
      background: linear-gradient(to right, #460c04, #665814);
      border: 1px solid white;
      .personPic {
        margin: auto;
        width: 13rem;
        height: 12rem;
        border: 1px solid rgb(190, 168, 168);
        cursor: pointer;
      }
      .personName {
        margin: auto;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
      }
      .personRace{
        text-align: center;
        font-size: 1.1rem;
        text-transform: capitalize;
        color: white;
        padding-bottom: 0.3rem;
      }
    }
  }
}

.main {
  .characterDetail {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    .characterCardDetail {
      border: 2px solid white;
      padding: 1rem 1.3rem 0.7rem 0rem;
      border-radius: 5px;
      background-image: url('https://img.pikbest.com/origin/09/17/92/88FpIkbEsTNRU.jpg!bw700');
      .personPicDetail {
        margin-left: 1.5rem;
        width: 17rem;
        height: 20rem;
        border: 1px solid white;
      }
  
      .personNameDetail {
        color: white;
        text-align: center;
        padding-bottom: 0.7rem;
        text-decoration: underline;
        text-transform: capitalize;
        width: 14rem;
        margin-left: 3rem;
      }
  
      .flexy {
        display: flex;
        gap: 0.5rem;
        margin-left: 5rem;
        line-height: 1.5rem;
  
        .title3 {
          color:white;
        }
  
        .wordies {
          color: white;
          font-size: 1.1rem;
          text-transform: capitalize;
        }
      }
    }
    .detail-btn {
      height: 2.5rem;
      width: 12rem;
      border: 1px solid white;
      background-color: rgba(223, 187, 46, 0.656);
      border-radius: 5px;
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: 1.3rem;
      padding-top: 0.3rem;
    }
  }
}
 .link{
   text-decoration: none;
  }

  .divsy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    .error {
      padding-top: 2.5rem;
      background-color: #a33729b4;
      width: 26rem;
      height: 10rem;
      color: rgb(224, 210, 105);
      font-size: 1.8rem;
      text-align: center;
      margin: 3rem 0rem 0rem 3rem;
      border: solid 1px rgb(177, 163, 50);
    }
    .error_btn {
      padding-top: 0.7rem;
      text-decoration: none;
      color: #6090cb;
      font-size: 1.2rem;
      background-color: #0a0a4a;
      text-align: center;
      height: 3rem;
      width: 15rem;
      border: 1px solid white;
      margin: 0rem 0rem 5rem 2rem;
    }
  }

  .footer{
    height: 7rem;
    background: linear-gradient(to bottom, #0a0a4a, #6090cb);
    position: sticky;
    bottom: 0;
    padding-top: 5rem;
    .copy {
      
      color: white;
      margin: 1rem 0rem 0rem 0.5rem;
      overflow: hidden;
    }
  }

// Mobile 375px

@media (min-width: 375px) {
  .header {
    .logo {
      width: 32rem;
      height: 13rem;
      margin-left: 3rem;
    }
  }
  .main { 
    .form{
      margin-left: 6rem;
    }
    .characterSection{
      display: grid;
      gap: 1rem;
      padding: 0rem 1.5rem 0rem 1.5rem;
    }
   }
  }

// MOBILE 425px

@media (min-width: 425px) {
  .header {
    .logo{
      margin-left: 5.5rem;
    }
  }
  .main {
    .form {
      padding-top: 1rem;
      gap: 1rem;
      margin-left: 7rem;
      width: 28rem;
    }
    .characterSection {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      .characterCard {
        width: 17rem;
        height: 19rem;
      }
    }
  }
}

@media (min-width: 600px) {
  .header {
    background-size: contain;
    .logo {
      margin-left: 13.5rem;
    }
  }
  .main {
    .form {
      margin-left: 15rem;
    }
    .characterSection {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
      .characterCard {
        .personRace {
          padding-bottom: 0.7rem;
        }
      }
    }
  }

  .main {
    .characterDetail {
      .characterCardDetail {
        width: 25rem;
        height: 38rem;
        margin-bottom: 5rem;
        .personPicDetail{
          width: 20rem;
          height: 25rem;
          margin-left: 2.3rem;
        }
        .personNameDetail {
          margin-left: 5.4rem;
        }
        .flexy {
          gap: 1rem;
          padding-bottom: 0.5rem;
          margin-left: 8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    .logo {
      margin-left: 22rem;
    }
  }
  .main {
    .form {
      width: 35rem;
      margin-left: 22rem;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .logo {
      margin-left: 35rem;
    }
  }
  .main {
    .form {
      width: 40rem;
      margin-left: 30rem;
    }
    .characterSection {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
  .main {
    .characterDetail {
      .characterCardDetail {
        padding-top: 2rem;
        width: 30rem;
        height: 43rem;
        .personPicDetail{
          width: 25rem;
          height: 20rem;
          margin-left: 2.3rem;
          margin-bottom: 2rem;
        }
        .personNameDetail {
          margin-left: 8rem;
          padding-bottom: 2rem;
          font-size: 2rem;

        }
        .flexy {
          gap: 2rem;
          padding-bottom: 1rem;
          margin-left: 9rem;
          .title3 {
            font-size: 1.5rem;
          }
          .wordies {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// LAPTOP 1440px 

@media (min-width: 1440px) {
  .header {
    .logo {
      margin-left: 60rem;
    }
  }
  .main {
    .form {
      margin-left: 55rem;
      width: 45rem;
    }
    .characterSection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
}

